@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html{
	background-color: #222;
}

#form-div{
	width: 512px;
	padding: 32px;
	background-color: #222;
	text-align: center;
	margin: auto;
	border: 1px solid #363636;
}

input{
}

textarea{
	resize: none;
	height: 150px;
}

#submit-button{
	border: 2px solid #00aaff;
	border-radius: 4px;
	font-size: 14px;
	background-color: #000;
	color: #fff;
	padding: 8px 16px;
	transition: all 0.4s;
	box-shadow: 0 0 14px #00aaff, inset 0 0 10px #00aaff;
	font-family: Oswald, sans-serif;
}

#submit-button:Hover{
	border: 2px solid #00aaff;
	background-color: #00aaff;
}

.formBox{
	width: 100%;
	border: none;
	font-family: Oswald, sans-serif;
	font-size: 14px;
	background-color: #363636;
	color: #ccc;
}

.formBox:Focus{
	outline: 1px solid #555;
}

h1{
	font-family: Oswald, sans-serif;
	font-size: 18px;
	color: #aaa;
	padding: 0px;
	margin: 0px;
}

@media screen and (max-width: 700px){
	#form-div {
		width: 90%;
		padding: 0px;
		border: none;
	}
	#submit-button {
		font-size: 1.5em;
	}
}